/* styling here */
:root{
    --p-bg:#ececec;
    --s-bg:white;
    --btn-p-bg:dodgerBlue;
}
*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    height:100vh;
    background:var(--p-bg);
}

.form-container{
    background:var(--s-bg);
    
}

.field{
    width:100%;
    padding:8px;
    font-size:19px;
    margin:3px 0;
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s;
    border:1px solid grey;
    border-radius:4px;
    outline:none;
}



input[type=submit]{
    font-size:18px;
    padding:8px 15px;    
    border:2px solid var(--btn-p-bg);
    background:var(--btn-p-bg);
    color:var(--s-bg);
    border-radius:5px;
    -webkit-animation-name:anim1;
            animation-name:anim1;
    -webkit-animation-duration:1s;
            animation-duration:1s;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}



input[type=submit]:active{
    -webkit-transform:translateY(10px);
        -ms-transform:translateY(10px);
            transform:translateY(10px);
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
    
}

input[type=submit]:hover{
    background: rgb(48,130,212);
}

.field:focus{
    border:1px solid dodgerBlue;
    
}

.field-container{
    padding:5px 0px 10px;
}

.text-center{
    text-align:center;
}

h2{
    border-bottom:2px solid grey;
    margin-bottom:15px;
    font-weight:normal;
    padding:8px 0;
}

.error{
    color:red;
}

.return-link{
    display:block;
    color:black;
    padding:5px 0 3px;
    margin:8px 5px 3px;
}

@media screen and (min-width:0px){
    .form-container{
        padding:10px;
    }
    h2{
        font-size:22px;
    }
}


@media screen and (min-width:576px){
    .form-container{
        padding:15px;
    }
}

@media screen and (min-width:768px){
    .form-container{
        padding:20px;
    }
}

@media screen and (min-width:992px){
    .form-container{
        padding:20px;
    }
}

@media screen and (min-width:1200px){
    
    .form-container{
        padding:25px 20px;
        width:400px;    
    }
}